{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_block %}Profile{% endblock title_block %}

{% block body_block %}
        <div class="row">
            <div class="col-4 m-auto mt-2 p-3 border border-2 rounded">
                <h2 class="text-center">Profile</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Update" class="btn btn-dark btn-sm">
                    </div>
                </form>
            </div>
        </div>
{% endblock body_block %}